td, th {
    border: 1px solid red;
}
table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    border: 5px solid green;
}
td:hover{
    background-color: lightcoral;
    color: white;
}